body {
  height: 100%;
  margin-bottom:50px;
}

html {
  height: 100%;
}

h1 {
  font-size: 20px;
  font-family: Helvetica;
  color: darkolivegreen;
}

h4 {
  padding: 10px 20px 20px 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header {
  border-color: black;
  height:10%;
}

footer {
  position: fixed;
    height: 50px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.parallax {
  /* The image used */
  background-image: url('/static/images/bg.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-center {
    text-align: center;
}

.align-bottom {
    position: absolute;
    bottom: 5%;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}

#bio {
  margin-left: 100px;
}

#resume {
  margin-left: 100px;
}

#projects {
  margin-left: 100px;
}

#fun {
  margin-left: 100px;
}

.update {
  color: black;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.niceties {
  height: 100%; width: 100%;
  display: inline-block;
  float: left;
  overflow-x: hidden;
  position: relative; 
  background-color: #fff;">          
}

.half {
  width: 50%;
  float: left;
  padding: 60px;
  height: 100%;
  position: relative;
}

.white { 
  background-color: #fff;
}

.navy {
  background-color: #183150;
}






